<!DOCTYPE html>
<html>
  <head>
    <title>Rails4</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="container">
      <% if notice %>
      <div class="alert alert-success">
        <p id="notice"><%= notice %></p>
      </div>
      <% end %>

      <% if alert %>
      <div class="alert alert-error">
        <p id="alert"><%= alert %></p>
      </div>
      <% end %>

      <%= yield %>

      <hr>
      <footer>
        <p>&copy; <%= Date.today.year %></p>
      </footer>
    </div> <!-- /container -->

  </body>
</html>
